---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emoji Collection</title>

    <link href="/static/styles.css" rel="stylesheet">
    <script defer src="/static/search.js"></script>
    </head>
    <body>
      <div>
        <label for="search">Search for emoji:</label>
        <input id="search" type="text"/>
      </div>
      {% for file in site.static_files %}
        {% if site.emoji_types contains file.extname %}
        {% unless file.path contains "/macromoji" %}
        <img src="{{ file.path }}" title="{{ file.name }}"/>
        {% endunless %}
        {% endif %}
      {% endfor %}
    </body>
</html>
